<!-- Heredar de la plantilla base -->
{% extends "proyectoWebApp/base.html" %}

<!-- Cargar todo el contenido de la carpeta static(imagenes,css,etc..) -->
{% load static %}

<!--bloque de contenido cambiante que se va a aplicar-->
{% block content %}

{% for producto in productos %}

<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{producto.imagen.url}}" alt="" style="width: 65%;">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4" >
          <span class="section-heading-lower" style="color:black">{{producto.nombre}}</span>
          <span class="section-heading-upper">{{producto.precio}}</span>
        </h2>


      </div>
    </div>
  </div>
</section>

{% endfor %}




   <!-- Heading -->
   <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-5">
              <span class="section-heading-upper">Nuestra</span>
              <span class="section-heading-lower">Tienda</span>
            </h2>
            <p class="mb-0">Descubre nuestra amplia gama de servicios profesionales diseñados para satisfacer todas tus necesidades.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  


  
    <!-- Message -->
   

{% endblock %}

